PVLibrary/Carthage/Build/
/PVSupport/Carthage/Build
/PVGenesis/PVGenesis.xcodeproj/xcuserdata
/PVGBA/PVGBA.xcodeproj/xcuserdata
/PVGB/PVGB.xcodeproj/xcuserdata
/PVFCEU/PVFCEU.xcodeproj/xcuserdata
/Provenance.xcworkspace/xcuserdata
/Provenance.xcodeproj/xcuserdata
/Provenance.xcodeproj/project.xcworkspace/xcuserdata
xcuserdata
report.xml
/Carthage/Build
/build
/fastlane/keys
/Provenance/Version.h
/Provenance/Version.swift
/PVLibrary/Carthage/.Cartfile.resolved
/Carthage/.Cartfile.resolved
.Cartfile.tvOS.resolved
.Cartfile.iOS.resolved
/.version
/Carthage/.swift-version
/PVSupport/Carthage/.swift-version
/PVLibrary/Carthage/.swift-version
.version
*.back
/fastlane/devices.txt
/archive
.vscode
*.zip
/fastlane/test_output
/.folio
.DS_Store
.build
.swiftpm
/bin
.env
/packages-cache
/Cores/PPSSPP/cmake/lib/Debug/libCommon.a
/Cores/PPSSPP/cmake/lib/Debug/libCommon.a.jk9oTD
/Cores/PPSSPP/cmake/lib/Debug/libCore.a
/Cores/PPSSPP/cmake/lib/Debug/libCore.a.hwCxEX
/Cores/PPSSPP/cmake/lib/Debug/libglslang.a
/Cores/PPSSPP/cmake/lib/Debug/libMachineIndependent.a
/Cores/PPSSPP/cmake/lib/Debug/libnative.a
/Cores/PPSSPP/cmake/lib/Debug/libSPIRV.a
Cores/PPSSPP/cmake/lib/
/CodeSigning.xcconfig
*.xcarchive
Cores/Dolphin/cmake/**/*-iphoneos
Cores/Play/cmake/build/
Cores/Play/cmake/**/Release-*
Cores/Play/cmake/**/Debug-*
Cores/Play/cmake/**/*.build
/Cores/PPSSPP/cmake/assets/debugger
/Cores/PPSSPP/lib/Release-iphoneos
/Cores/PPSSPP/lib/Debug-iphoneos
/Cores/Play/lib
/Cores/PPSSPP/lib/libMoltenVK_PPSSPP.dylib
/Cores/DuckStation/cmake/bin
/Cores/DuckStation/cmake/.qt
/Cores/DuckStation/lib/Debug-iphoneos/libscmversion.a
/Cores/DuckStation/lib/Debug-iphoneos/libfrontend-common.a
Cores/snes9x/cmake/build/
Cores/DuckStation/cmake/build/
Cores/DuckStation/cmake/bin/
Cores/DuckStation/cmake/src/
/Cores/Citra/cmake/dist
/Cores/Citra/cmake/externals
/Cores/Citra/cmake/generated-includes
/Cores/Citra/cmake/include
/Cores/Citra/cmake/CMakeFiles
Cores/DuckStation/cmake/CMakeFiles/
/Cores/DuckStation/cmake/CMakeScripts
Cores/DuckStation/cmake/dep/
Release-iphoneos
Cores/DuckStation/lib/
/Cores/Yabause/cmake/build
/Cores/Yabause/cmake/CMakeFiles
/Cores/Yabause/cmake/CMakeScripts
/Cores/Yabause/cmake/doc
/Cores/Yabause/cmake/l10n
/Cores/Yabause/cmake/src
/Cores/PPSSPP/lib/libCommonPPSSPP.a
/Cores/PPSSPP/lib/libCorePPSSPP.a
/Cores/PPSSPP/lib/libGenericCodeGenPPSSPP.a
/Cores/PPSSPP/lib/libHLSLPPSSPP.a
/Cores/PPSSPP/lib/libMachineIndependentPPSSPP.a
/Cores/PPSSPP/lib/libOGLCompilerPPSSPP.a
/Cores/PPSSPP/lib/libOSDependentPPSSPP.a
/Cores/PPSSPP/lib/libSPIRVPPSSPP.a
/Cores/PPSSPP/lib/libarmipsPPSSPP.a
/Cores/PPSSPP/lib/libbasis_universalPPSSPP.a
/Cores/PPSSPP/lib/libcityhashPPSSPP.a
/Cores/PPSSPP/lib/libgasonPPSSPP.a
/Cores/PPSSPP/lib/libglslang-default-resource-limitsPPSSPP.a
/Cores/PPSSPP/lib/libglslangPPSSPP.a
/Cores/PPSSPP/lib/libkirkPPSSPP.a
/Cores/PPSSPP/lib/liblibzipPPSSPP.a
/Cores/PPSSPP/lib/libminiupnpcPPSSPP.a
/Cores/PPSSPP/lib/libnativePPSSPP.a
/Cores/PPSSPP/lib/libpng17PPSSPP.a
/Cores/PPSSPP/lib/libsfmt19937PPSSPP.a
/Cores/PPSSPP/lib/libsnappyPPSSPP.a
/Cores/PPSSPP/lib/libspirv-cross-corePPSSPP.a
/Cores/PPSSPP/lib/libspirv-cross-cppPPSSPP.a
/Cores/PPSSPP/lib/libspirv-cross-glslPPSSPP.a
/Cores/PPSSPP/lib/libspirv-cross-hlslPPSSPP.a
/Cores/PPSSPP/lib/libspirv-cross-mslPPSSPP.a
/Cores/PPSSPP/lib/libudis86PPSSPP.a
/Cores/PPSSPP/lib/libunix_based_hardware_detectionPPSSPP.a
/Cores/PPSSPP/lib/libutilsPPSSPP.a
/Cores/PPSSPP/lib/libvmaPPSSPP.a
/Cores/PPSSPP/lib/libxbrzPPSSPP.a
/Cores/PPSSPP/lib/libxxhashPPSSPP.a
/Cores/PPSSPP/lib/libzstd_staticPPSSPP.a
/Cores/PPSSPP/lib/ppsspp
/CoresRetro/RetroArch/lib
/Cores/Flycast/build
/Cores/Play/cmake/Source/ui_ios/AltKit/Debug
/Cores/Play/cmake/Source/ui_ios/Source/libchdr/deps/zlib-1.2.12/Debug

#sub modules
/Cores/Mupen64Plus/Plugins/Video/gliden64
/Cores/Mupen64Plus/Plugins/Core
/Cores/4DO
/Cores/BeetlePSX/beetle-psx
/Cores/BeetlePSX/beetle-psx-libretro
/Cores/Mupen64Plus/Plugins/rsp/hle
/Cores/Mupen64Plus/Plugins/Video/rice
/PVLibrary/LzmaSDKObjC
/Cores/VirtualJaguar
/Cores/Reicast/reicast-emulator
/Cores/PokeMini/PokeMini-libretro
/Cores/TGBDual/tgbdual-emulator
/Cores/Flycast/flycast
/Cores/Dolphin/dolphin-ios
/Cores/DuckStation/duckstation
/Cores/Desmume2015/desmume2015
/Cores/O2EM
/Cores/CrabEMU
/Cores/Bliss
/Cores/mGBA/mGBA-Core
/Cores/snesticle/SNESticle
/Cores/sm64ex/sm64ex-ios
/Cores/ProSystem/ProSystem1_3
/Cores/FinalBurnNeo/FBNeo
/Cores/FCEU/fceux
/Cores/DosBox/dosbox-pure
/Cores/Mini_vMac/libretro-minivmac
/Cores/BeetlePSX/beetle-psx-libretro
/Cores/Potator/potator
/Cores/ep128emu/ep128emu-core
/Cores/hatari/hatari
/Cores/fmsx/fmsx-libretro
/Cores/pcsx_rearmed/pcsx_rearmed
/Cores/opera/opera-libretro
/Cores/Mu/Mu
/Cores/Yabause/yabause
/Cores/melonDS/melonDS
/Cores/Mupen64Plus-NX/mupen64plus-libretro-nx
/Cores/GameMusicEmu/libretro-gme
/Cores/VecX/libretro-vecx
/Cores/SameDuck/SameBoy
/Cores/blueMSX/blueMSX-libretro
/Cores/fuse/fuse-libretro
/Cores/Gearcoleco/Gearcoleco
/Cores/FreeIntv/FreeIntv
/Cores/Genesis-Plus-GX/PVGenesis/Deps/Genesis-Plus-GX
/Cores/Mupen64Plus/Plugins/rsp/cxd4
/Cores/TIC80/TIC-80
/Dependencies/MoltenVK
/CoresRetro/RetroArch/RetroArch
/CoresRetro/RetroArch/libretro-super
/Cores/BeetlePSX/beetle-psx
/Cores/DosBox/dosbox
/Cores/NP2Kai/libretro-np2kai
/Cores/snes9x/libretro-snes9x
/Cores/supergrafx/libretro-supergrafx
/Cores/melonDS/melonds-libretro
/Cores/PPSSPP/libretro_ppsspp
/Cores/Play/Play-
/CoresRetro/RetroArch/PVRetroArchCore/Archive/UnrarKit
/CoresRetro/RetroArch/PVRetroArchCore/Archive/lhasa
/CoresRetro/RetroArch/PVRetroArchCore/Archive/ZipArchive